.main {
  // background-color: #7f61f2;
  height: 100vh;
}

.control-button-wrapper {
  display: flex;
  justify-content: space-between
}
button.small {
  flex: 1;
  height: 1.5rem;
  min-width: 3rem;
  margin: 0 0.1rem;
}
