.counter-container {
  min-width: 7.5rem;
  overflow: auto;
  display: flex;
  flex-flow: column;

  .counter-header {
    display: flex;
    justify-content: space-between;

    input {
      width: 4.5rem;
    }
  }
  .counter-body {
    flex: 1;
  }
  .counter-footer {
    // background-color: #f8f8f8;
    // border-top: solid 1px #a8a8a8;
  }
}
