.timer-container {
  min-width: 7.5rem;
  // overflow: auto;
  display: flex;
  flex-flow: column;

  .timer-header {
    display: flex;
    justify-content: space-between;

    input {
      width: 4.5rem;
    }
    span {
      // flex: 1;
      margin-right: 0.5rem;
    }
    button {
      // flex: 1;
    }
  }

  .timer-body {

    .time-input-box {
      display: flex;
      margin: 0.25rem 0;

      .time-input {
        margin: 0 0.1rem;
        flex: 1;
        display: flex;
        border: solid 1px #c8c8c8;
        padding: 0.1rem;
        border-radius: 2px;

        input {
          width: 1.5rem;
          text-align: center;
          border: none;
          font-size: 1rem;
        }

        input:focus-visible {
          outline: none;
        }

        .time-buttons{
          display: flex;
          flex-flow: column;
          
          button {
            // height: 0.75rem;
            width: 1.25rem;
            padding: 0;
          }

        }
      }
      
    }
    .timer-time-box {
      padding: 0.5rem 0;
      display: flex;
      justify-content: space-between;
      
      // button {
      //   width: 1rem;
      // }
    }
  }
  
  .timer-footer {
    // background-color: #f8f8f8;
    // border-top: solid 1px #a8a8a8;
  }
}
