.timer-container {
  width: 10rem;
  border-radius: 7px;
  border: solid 1px #a8a8a8;
  resize: both;
  overflow: auto;
  display: flex;
  flex-flow: column;

  .timer-header {
    cursor: grab;
    border-radius: 7px 7px 0 0;
    background-color: #f8f8f8;
    border-bottom: solid 1px #a8a8a8;
  }
  .timer-body {
    flex: 1;
  }
  .timer-footer {
    background-color: #f8f8f8;
    border-top: solid 1px #a8a8a8;
  }
}
