.login-container {
  display: flex;
  height: 30rem;
}
.login-box {
  display: flex;
  flex-flow: column;
  width: 25rem;
  margin: auto auto;
  box-shadow: 2px 2px 3px #333;
  background-color: #fff;
  border: solid 1px #ccc;
  padding: 1rem;
  border-radius: 7px;
  .login-button {
    margin: 0.5rem 0 0.5rem 0;
  }
}
