@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@900&family=Rubik:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap");

.navigation-bar {
  font-family: "Nanum Gothic", sans-serif;
  height: 5rem;
  display: flex;
  // z-index: 20000;

  .navigation-logo {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      font-size: 1.75rem;
      font-family: "Roboto", sans-serif;
      color: #1976d2;
    }

    a:hover {
      color: #fff;
      text-shadow: 1px 1px 3px #1976d2;
    }
  }
  .navigation-nav {
    flex: 6;
    display: flex;
    align-items: center;
    // margin-bottom: 0.25rem;

    .navs {
      display: flex;
      // justify-content: space-around;
      width: 100%;
      height: 100%;

      ul,
      li {
        padding: 0;
        list-style: none;
      }

      ul {
        padding: 0;
      }

      li {
        width: 15%;
        height: 100;
        min-width: 5rem;
        margin: auto 0;
      }

      li:hover {
        color: #333;
        font-weight: bold;
        text-shadow: 0px 0px 0px #c8c8c8;
        cursor: pointer;
      }

      li a {
        color: #333;
        font-family: "Roboto", sans-serif;
      }

      li a:active {
        color: red;
      }

      // li a.arrow {
      //   position: relative;
      // }

      // li a.arrow::after {
      //   content: "";
      //   display: block;
      //   width: 5px;
      //   height: 5px;
      //   border-top: 3px solid #333;
      //   border-right: 3px solid #333;
      //   -webkit-transform: rotate(135deg);
      //   transform: rotate(135deg);
      //   position: absolute;
      //   right: -0.75rem;
      //   top: 60%;
      //   margin-top: -7px;
      // }

      // .sub-list {
      //   box-shadow: 0 0 5px #333;
      //   border-radius: 5px;
      //   margin-top: 0.5rem;
      //   padding: 0.25rem 0;
      //   width: fit-content;
      //   background-color: #fff;
      //   z-index: 20000;

      //   li {
      //     padding: 0.25rem 2rem 0.25rem 1rem;
      //     text-shadow: 0px 0px 0px #c8c8c8;
      //   }

      //   li:hover {
      //     background-color: #f3f3f3;
      //     color: #f04d4d;
      //     font-weight: bold;
      //     text-shadow: 0px 0px 0px #c8c8c8;
      //   }
      // }
    }

    // li {
    //   position: relative;
    //   width: 5rem;
    // }

    // ul > li ul {
    //   width: 100%;
    //   opacity: 0;
    //   position: absolute;
    //   transition: 0.3s 0.2s;
    // }

    // ul > li ul li {
    //   white-space: nowrap;
    // }

    // ul > li:hover {
    //   text-shadow: 2px 2px 1px #c8c8c8;
    // }

    // ul > li:hover ul {
    //   opacity: 1;
    //   // display: block;
    //   font-weight: normal;
    //   transition: 0.3s 0.2s;
    // }

    // ul,
    // li {
    //   margin: 0;
    //   padding: 0;
    //   list-style: none;
    // }
  }
  .navigation-login {
    font-family: "Nanum Gothic", sans-serif;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    a {
      background-color: #fff;
      // color: #a8a8a8;
      // margin-top: 1rem;
      margin: auto 0.25rem auto 0;
      width: 4.5rem;
    }

    .logout {
      background-color: #fff;
      margin: auto 0;
      width: 5rem;
      // margin-top: 1rem;
      // margin-right: 1.5rem;
      // border: none;
      // font-weight: bold;
    }
  }
  a {
    // color: inherit;
    text-decoration: none;
  }
}
